<% layout('layouts/boilerplate') %>
<div class="container">
    <h1>All products</h1>
    <%const cat = category == null ? 'all' : category%>
    <ul>
        <% for (let product of products) { %>
        <li><%= product.name %> - <%= product.category %> - Price: <%= product.price %> - <a href="/products/<%=product._id%>">See details</a></li>
        <form class="d-inline" action="/products/<%=product._id%>" method="POST">
            <button class="btn btn-info">Add to cart</button>
        </form>
        <% } %>
    </ul>
</div>

<script>
    let category = <%-JSON.stringify(cat)%>.replace(/ /g,'');
    const menu = document.getElementsByClassName('scroll-menu')[0];
    for (let child of menu.children) {
        child.classList.remove('active');
    }
    const menuLabel = document.getElementById(`${category}-label`);
    menuLabel.classList.add('active');
</script>